<h1 mat-dialog-title>Esta seguro que desea agendar esta clase?</h1>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full">
    <mat-label>Profesor</mat-label>
    <input matInput disabled value="{{confirmData.nombreUsuario}}" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="full">
    <mat-label>Fecha</mat-label>
    <input matInput disabled value="{{confirmData.fecha|date:'dd-MM-yyyy'}}" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="full">
    <mat-label>Hora</mat-label>
    <input matInput disabled value="{{confirmData.fecha|date:'h:mm a':'+0000'}}" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="full">
    <mat-label>Link curso</mat-label>
    <input matInput disabled value="{{confirmData.link}}" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="onConfirm()">CONFIRMAR</button>
  <button mat-raised-button color="secondary" mat-dialog-close>CANCELAR</button>
</mat-dialog-actions>
