.container {
  padding: 12% 60px 0px 60px;
}

.loginContainer {
  padding: 40px 80px;
  height: auto;
  width: 400px;
  margin: 0 auto;
}

.logo {
  width: 400px;
  display: block;
  margin: 0 auto;
}
