<mat-card>
  <mat-card-title>Datos Usuario</mat-card-title>
  <mat-card-content class="containerPadding">
    <div class="spacing vertical-3"></div>
    <div class="container-row">
      <div class="container-col">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Nombre</mat-label>
          <input matInput value="{{infractor?.nombre}}" disabled />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full">
          <mat-label>Direccion</mat-label>
          <input matInput value="{{datosInfractor?.direccion}}" disabled />
        </mat-form-field>
      </div>
      <div class="container-col">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Apellido</mat-label>
          <input matInput value="{{infractor?.apellido}}" disabled />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full">
          <mat-label>Telefono</mat-label>
          <input matInput value="{{datosInfractor?.telefono}}" disabled />
        </mat-form-field>
      </div>
      <div class="container-col">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Correo</mat-label>
          <input matInput value="{{datosInfractor?.email}}" disabled />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full">
          <mat-label>Celular</mat-label>
          <input matInput value="{{datosInfractor?.celular}}" disabled />
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="spacing vertical-2"></div>
<mat-card>
  <mat-card-title>Infracciones</mat-card-title>
  <mat-card-content class="containerPadding">
    <div class="spacing vertical-3"></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date|date:'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef> Concepto </th>
        <td mat-cell *matCellDef="let element"> {{element.concept}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="spacing vertical-3"></div>
  </mat-card-content>
</mat-card>
<div class="spacing vertical-2"></div>
<mat-card *ngIf="asistencia!=undefined">
  <mat-card-title>Detalles curso</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Profesor</mat-label>
      <input matInput disabled value="{{selectedSala?.nombreUsuario}}" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Fecha</mat-label>
      <input matInput disabled value="{{selectedSala?.fecha|date:'dd-MM-yyyy'}}" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Hora</mat-label>
      <input matInput disabled value="{{selectedSala?.fecha|date:'h:mm a'}}" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="clipboard">
      <mat-label>Link curso</mat-label>
      <input matInput disabled value="{{selectedSala?.link}}" />
    </mat-form-field>
    <button mat-icon-button matTooltip="copiar" [cdkCopyToClipboard]="selectedSala.link">
      <mat-icon>content_copy</mat-icon>
    </button>

    <button mat-raised-button color="secondary" class="full" routerLink="/infractor/login">SALIR</button>

  </mat-card-content>
</mat-card>
<mat-card *ngIf="asistencia==undefined">
  <mat-card-title>Programar curso</mat-card-title>
  <mat-card-content class="containerPadding">
    <!--Calendario-->
    <app-meeting-calendar [default]="false" (selectedSala)="onChangeSelectedSala($event)"></app-meeting-calendar>
    <button mat-raised-button color="primary" [disabled]="selectedSala==undefined" class="full"
      (click)="onSchedule()">PROGRAMAR</button>
  </mat-card-content>
</mat-card>
<div class="spacing vertical-2"></div>