<mat-card>
  <mat-card-title>Datos Usuario</mat-card-title>
  <mat-card-content class="containerPadding">
    <div class="spacing vertical-3"></div>
    <div class="container-row">
      <div class="container-col">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Nombre</mat-label>
          <input matInput value="Alberto" disabled />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full">
          <mat-label>Direccion</mat-label>
          <input matInput value="Cra 60 # 39 - 89" disabled />
        </mat-form-field>
      </div>
      <div class="container-col">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Apellido</mat-label>
          <input matInput value="Torres" disabled />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full">
          <mat-label>Telefono</mat-label>
          <input matInput value="3233223" disabled />
        </mat-form-field>
      </div>
      <div class="container-col">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Correo</mat-label>
          <input matInput value="alberto@gmail.com" disabled />
        </mat-form-field>
        <mat-form-field appearance="fill" class="full">
          <mat-label>Celular</mat-label>
          <input matInput value="3124568907" disabled />
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<div class="spacing vertical-2"></div>
<mat-card>
  <mat-card-title>Infracciones</mat-card-title>
  <mat-card-content class="containerPadding">
    <div class="spacing vertical-3"></div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full">

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef> Concepto </th>
        <td mat-cell *matCellDef="let element"> {{element.concept}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div class="spacing vertical-3"></div>
  </mat-card-content>
</mat-card>
<div class="spacing vertical-2"></div>
<mat-card>
  <mat-card-title>Programar curso</mat-card-title>
  <mat-card-content  class="containerPadding">
    <!--Calendario-->
    <app-meeting-calendar [default]="false"></app-meeting-calendar>
    <button mat-raised-button color="primary" class="full" (click)="schedule()">PROGRAMAR</button>
  </mat-card-content>
</mat-card>
<div class="spacing vertical-2"></div>
