<div class="container">
  <mat-card class="loginContainer">
    <mat-card-content>
      <img src="../../../assets/images/logo.png" alt="Logo Secretaria de Transito Bello" class="logo" />
      <div class="spacing vertical-4"></div>
      <h1 class="centered-text">Bienvenido</h1>
      <div class="spacing vertical-3"></div>
      <form [formGroup]="loginInfractor">
        <mat-form-field appearance="fill" class="full">
          <mat-label>Cedula</mat-label>
          <input matInput type="text" formControlName="documento" autocomplete="off" required (change)="onFormChange()" />
        </mat-form-field>
        <div class="input-error">
          <mat-error  *ngIf="isLoginFailed">{{errorMessage}}</mat-error>
        </div>
      </form>
      <button mat-raised-button color="primary" [disabled]="!loginInfractor.valid" type="submit" class="full" (click)="authenticate()">CONSULTAR</button>
      <div class="spacing vertical-3"></div>
    </mat-card-content>
  </mat-card>
</div>
