.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  padding: 40px 80px;
  height: auto;
  width: 400px;
  margin: 0 auto;
}

.logo {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.input-error {
  height: 25px;
  text-align: center;
  margin-bottom: 10px;
}