<h1 mat-dialog-title *ngIf="data.isCreation">Creacion de sala</h1>
<h1 mat-dialog-title *ngIf="!data.isCreation">Edicion de sala</h1>
<mat-dialog-content>
  <form [formGroup]="roomCreationForm">
    <mat-form-field appearance="fill" class="full">
      <mat-label>Link</mat-label>
      <input matInput formControlName="link" maxlength="200" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Total Cupo</mat-label>
      <input matInput type="number" onKeyPress="if(this.value.length==3) return false;" formControlName="totalCupo" onpaste="event.preventDefault()" />
    </mat-form-field>
    <app-meeting-calendar [default]="true" [inputSala]="selectedSala" (selectedSala)="onChangeSelectedSala($event)"></app-meeting-calendar>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="submitForm()" cdkFocusInitial>CONFIRMAR</button>
  <button mat-raised-button color="secondary" [mat-dialog-close]="false">CANCELAR</button>
</mat-dialog-actions>
