<h1 mat-dialog-title>Creacion de usuario</h1>
<mat-dialog-content>
  <form [formGroup]="userCreationForm">
    <mat-form-field appearance="fill" class="full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="username"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Confirmar Contraseña</mat-label>
      <input matInput type="password" formControlName="confirmPassword" autocomplete="off" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="full">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="rol" >
        <mat-option value="SM">SM</mat-option>
        <mat-option value="TMB">TMB</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="submitForm()" cdkFocusInitial>CONFIRMAR</button>
  <button mat-raised-button color="secondary" [mat-dialog-close]="false">CANCELAR</button>
</mat-dialog-actions>
