<div class="calendar-container">
  <div class="container-datepicker">
    <mat-card class="inline-calendar-card">
      <mat-calendar [(selected)]="selected"
                    [dateFilter]="dateFilter"
                    (selectedChange)="onDateChanged($event)"
                    [minDate]="minDate"></mat-calendar>

    </mat-card>
  </div>

  <div class="calendar-hour">
    <div *ngFor="let sala of currentListDate; let i=index">
      <div class="list-hour">
        <button (click)="onSelectDate(sala)" [ngClass]="sala?.isActive ? 'button-active' : ''"><span>{{sala?.sala?.fecha|date:"HH:mm":"+0000"}}</span></button>
      </div>
    </div>
  </div>
</div>
